@model IEnumerable<Mytips.Models.TipModel.TipModel>

@{
    ViewData["Title"] = "TipList";
}

<h1>Tip List</h1>
<div class="row">
    <div class="col-6"><a class="btn btn-info" asp-action="Index">TipGroup</a></div>
    <div class="col-6 text-right">
        <a class="btn btn-success" asp-action="CreateTip" asp-route-tipGroupId="@ViewBag.tipGroupId">Create Tip</a>
    </div>
</div>
<br />
<table class="table table-striped table-sm">
    <thead>
        <tr class="d-none d-sm-table-row">
            <th>
                @Html.DisplayNameFor(model => model.TIP_TITLE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.REMARK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CREATE_DTTM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UPDATE_DTTM)
            </th>
            <th></th>
        </tr>
        <tr>
            <th colspan="5">
                @Html.DisplayNameFor(model => model.TIP_CONTENT)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <div style="font-weight:bold">@Html.DisplayFor(modelItem => item.TIP_TITLE)</div>

            </td>
            <td class="d-none d-sm-table-cell">
                @Html.DisplayFor(modelItem => item.REMARK)
            </td>
            <td class="d-none">
                @Html.DisplayFor(modelItem => item.SORT_NO)
            </td>
            <td class="d-none">
                @Html.DisplayFor(modelItem => item.DEL_FLAG)
            </td>
            <td class="d-none d-sm-table-cell">
                @Html.DisplayFor(modelItem => item.CREATE_DTTM)
            </td>
            <td class="d-none d-sm-table-cell">
                @Html.DisplayFor(modelItem => item.UPDATE_DTTM)
            </td>
            <td class="d-none d-sm-table-cell">
                <a class="btn btn-success" asp-action="EditTip" asp-route-tipId="@item.TIP_ID">Edit</a>
                <a class="btn btn-info" asp-action="DeleteTip" asp-route-tipId="@item.TIP_ID" onclick="return confirm('Delete?')">Del</a>
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <div style="white-space: pre-line">@Html.DisplayFor(modelItem => item.TIP_CONTENT)</div>
                <div class="d-block d-sm-none">UpdateDttm : @Html.DisplayFor(modelItem => item.UPDATE_DTTM)</div>
                <div class="d-block d-sm-none">
                    <a class="btn btn-success" asp-action="EditTip" asp-route-tipId="@item.TIP_ID">Edit</a>
                    <a class="btn btn-info" asp-action="DeleteTip" asp-route-tipId="@item.TIP_ID"  onclick="return confirm('Delete?')">Del</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
