@model IEnumerable<Mytips.Models.TipModel.TipGroupModel>

@{
    ViewData["Title"] = "Index";
}


<div class="row" style="">
    <div class="col-3 " style="overflow-y:scroll;height:680px">
        <div class="text-right">
            <a class="btn btn-success" asp-action="CreateGroup" asp-route-parentTipGroupId="0">Create Root</a>
        </div>
        <br />
        <table class="table table-striped table-sm">
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style="cursor:pointer" onclick="OpenTips(@item.TIP_GROUP_ID)">
                        @*<td class="d-none d-sm-table-cell">
                                @Html.DisplayFor(modelItem => item.TIP_GROUP_ID)
                            </td>*@
                        <td style="padding-left:@(item.LEVEL * 10)px">@Html.DisplayFor(modelItem => item.TIP_GROUP_NAME)</td>
                        <td>
                            @*<a class="btn btn-success btn-sm" asp-action="EditGroup" asp-route-tipGroupId="@item.TIP_GROUP_ID">Edit</a>
                                <a class="btn btn-info btn-sm" asp-action="DeleteGroup" asp-route-tipGroupId="@item.TIP_GROUP_ID" onclick="return confirm('Delete?')">Del</a>
                                <a class="btn btn-primary btn-sm" asp-action="CreateGroup" asp-route-parentTipGroupId="@item.TIP_GROUP_ID">Child</a>*@
                            <a asp-action="EditGroup" asp-route-tipGroupId="@item.TIP_GROUP_ID">Edit</a>
                            <a asp-action="DeleteGroup" asp-route-tipGroupId="@item.TIP_GROUP_ID" onclick="return confirm('Delete?')">Del</a>
                            <a asp-action="CreateGroup" asp-route-parentTipGroupId="@item.TIP_GROUP_ID">Child</a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-9" style="overflow-y:scroll;height:680px">
        <div id="tips">

        </div>
    </div>
</div>

@section Scripts{

    <script>
        function OpenTips(tipGroupId) {

            $.ajax({
                url: '@Url.Content("~/Tip/OpenTips")',
                data: { tipGroupId: tipGroupId },
                dataType:'html',
                success: function (result) {
                    $('#tips').html(result);
                }
            });
            //$('#tips').load('@Url.Content("~/Tip/OpenTips?tipId=")' + tipGroupId);
        }

        var toolbarOptions = [
            ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
            ['blockquote', 'code-block'],

            [{ 'header': 1 }, { 'header': 2 }],               // custom button values
            [{ 'list': 'ordered' }, { 'list': 'bullet' }],
            [{ 'script': 'sub' }, { 'script': 'super' }],      // superscript/subscript
            [{ 'indent': '-1' }, { 'indent': '+1' }],          // outdent/indent
            [{ 'direction': 'rtl' }],                         // text direction

            [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

            [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
            [{ 'font': [] }],
            [{ 'align': [] }],

            ['clean']                                         // remove formatting button
        ];

        function EditContent(tipId) {
            var options = {
                //debug: 'info',
                modules: {
                    toolbar: toolbarOptions,
                    syntax: true
                },
                placeholder: 'Compose an epic...',
                //readOnly: true,
                theme: 'snow'
                };
        var quill = new Quill('#tipContent_' + tipId, options);
        }


    </script>


}